// Font face
@font-face {
  font-family: 'MontserratRegular';
  src: url("^/../../public/montserrat/Montserrat-Regular.ttf") format('truetype');
  font-weight:normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratSemiBold';
  src: url("^/../../public/montserrat/Montserrat-SemiBold.ttf") format('truetype');
  font-weight:normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBold';
  src: url("^/../../public/roboto/Roboto-Bold.ttf") format('truetype');
  font-weight:normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoLight';
  src: url("^/../../public/roboto/Roboto-Light.ttf") format('truetype');
  font-weight:normal;
  font-style: normal;
}

@font-face {
font-family: 'RobotoRegular';
src: url("^/../../public/roboto/Roboto-Regular.ttf");
font-weight: normal;
font-style: normal;
}



  html {
        font-size: 62.5%;


      @include respond(tab-land) {
          font-size: 56.25%;
      }

      @include respond(tab-port) {
          font-size: 50%;
      }

      @include respond(big-desktop) {
          font-size: 75%;
      }
   }
    *,
  *::before,
  *::after {
    box-sizing: border-box;
  }


  ul[class],
  ol[class] {
    padding: 0;
  }


  body,
  h1,
  h2,
  h3,
  h4,
  p,
  ul[class],
  ol[class],
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'RobotoRegular';
    padding: 3rem;
    background-size: cover;
      @include respond(tab-port) {
        padding: 0;
    }
  }

  ul[class],
  ol[class] {
    list-style: none;
  }

  a:not([class]) {
    text-decoration-skip-ink: auto;
  }


  img {
    max-width: 100%;
    display: block;
  }


  article > * + * {
    margin-top: 1em;
  }


  input,
  button,
  textarea,
  select {
    font: inherit;
  }


  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
a {
text-decoration: none;
color: #000;
}
button {   font-family: 'MontserratRegular'; }

::selection {
        background-color: $color-primary;
        color: $color-white;
}
